.btn {
    padding: 18px 35px;
    text-transform: uppercase;
    color: #fff;
    background: $c_order;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Play';
    font-weight: 400;
    border: 1px solid transparent;
    display: inline-block;
    &:hover, &:active {
        background-color: #fff;
        border: 1px solid $c_order;
        color: $c_order;
    }
}