.btn {
    padding: 18px 35px;
    text-transform: uppercase;
    color: #fff;
    background: $c_order;
    border-radius: 50px;
    font-size: 0.8rem;
    font-family: 'Play';
    font-weight: 600;
    border: 1px solid transparent;
    display: inline-block;
    @include tablets {
        padding: 21px 38px;
        font-size: 1rem;
        letter-spacing: 0.02em;
    }
    &:hover, &:active {
        background-color: #fff;
        border: 1px solid $c_order;
        color: $c_order;
    }
}