.burger {
    display: none;
    @include tablets {
        display: block;
    }
}
.burger__plank {
    display: block;
    width: 1.625rem;
    position: relative;
    background:rgba(41, 41, 41, 1);
    height: 0.23rem;
    border-radius: 10px;
    position: relative;
    &::before, &::after{
        content: '';
        width: 100%;
        position: absolute;
        height: 0.25rem;
        border-radius: 10px;
        left: 0;
        background: rgba(41, 41, 41, 1);
    }
    &::after{
       top: 10px;
    }
    &::before {
        top: -10px;
    }
}