//cta
.cta {
    background: #181818;
    padding-top: 68px;
<<<<<<< HEAD
    padding-bottom: 85px;
=======
    padding-bottom: 168px;
>>>>>>> px_to_rem
    color: #fff;
    h2 {
        text-align: center;
        margin-bottom: 61px;
        color: #fff;
    }
}
.cta__list {
    display: flex;
    justify-content: space-between;
}
.cta__left {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    max-width: 462px;
    label {
        font-size: 16px;
=======
    max-width: 25.66rem;
    label {
        font-size: 0.8rem;
>>>>>>> px_to_rem
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-bottom: 14px;
        &:first-child,&:nth-child(2) {
            width: 48%;
        }
        &:nth-child(3) {
            width: 100%;
        }
        &:nth-child(4), &:nth-child(5),  &:nth-child(6), &:last-child{
            width: 22%;
        }
        input {
<<<<<<< HEAD
            height: 58px;
=======
            height: 3.22rem;
>>>>>>> px_to_rem
            padding-left: 11px;
            border-radius: 5px;
            border: 1px solid transparent;
            outline: none;
            &:hover, &:focus, &:active {
                outline: none;
                border-color: #E01F3D;
            }
        }
    }
}
.cta__right {
<<<<<<< HEAD
    width: 450px;
    height: 152px;
    border-radius: 10px;
    label {
        font-size: 16px;
        textarea {
            resize: none;
            height: 152px;
            padding-left: 11px;
            width: 450px;
            border-radius: 5px;
            padding-left: 11px;
            border: none;
            outline: none;
            margin-bottom: 38px;
=======
    width: 25rem;
    height: 8.44rem;
    border-radius: 10px;
    label {
        font-size: 0.8rem;
        textarea {
            resize: none;
            height: 8.44rem;
            padding-top: 11px;
            width: 25rem;
            border-radius: 5px;
            border: none;
            padding-left: 11px;
            outline: none;
            margin-bottom: 38px;
            box-sizing: border-box;
        }
        &:hover, &:focus, &:active {
            outline: none;
            border-color: #E01F3D;
>>>>>>> px_to_rem
        }
    }
    label.comm {
        display: flex;
        flex-direction: column;
    }
    
}
.form__controls {
    display: flex;
}
.cta__btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    a {
        color: #fff;
    }
}
=======
    width: 63%;
    a {
        color: #fff;
        &:hover {
            color: #E01F3D;
        }
    }
}
>>>>>>> px_to_rem
