.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: #fff;
}
.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
        flex-direction: column;
        text-align: center;
    }
}
.footer__item {
    p {
        color: #000;
        margin-bottom: 4px;
        @include phones {
            font-size: 1rem;
            letter-spacing: 0.03em;
            margin-bottom: 0.8rem;
        }
    }
}
.footer__phone_link {
    @include tablets {
        color: $c_order;
        .icon_phone {
            fill: $c_order;
        }
    }
    @include phones {
        color: #000;
        .icon_phone {
            fill: #000;
        }
    }
}