

html {
    font-size: $baseFontSize;
    @include tablets {
      font-size: $baseFontSize - 1px;
    }

    @include phones {
      font-size: $baseFontSize - 1px;
    }
}

body {
    font-family: 'Play', sans-serif;
    color: #666666;
    font-weight: 400;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 10px;
    @include tablets {
      max-width: 95%;
    }
}

// fonts
    h1, h2, h3, h4 {
        color: #000;
        font-weight: 700;
    }
    h1,h2 {
        text-transform: uppercase;
    }
    h1 {
        font-size: 2.66rem;
        line-height: 2.88rem;
        @include phones {
          font-size: 1.7rem;
          line-height: 1.88rem;
        }
    }
    h2 {
        font-size: 2.66rem;
        @include phones {
          font-size: 1.76rem;
          letter-spacing: 0.04em;
        }
    }
    h3 {
        font-size: 1.33rem;
    }
    h4 {
        font-size: 1.33rem;
    }
    p {
        font-size: 0.88rem;
    }
