.networks {
    display: flex;
    @include phones {
        margin-top: 0.89rem;
    }
}
.networks__item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.networks__link {
    svg {
        width: 1.66rem;
        height: 1.66rem;
    }
    &:hover {
        svg  {  
            opacity: 0.6;
        }
    }
}