//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");


//breakpoints 
$tablets: 768px;
$phones: 480px;

//adaptive
@import "media.scss";

//Specification
$baseFontSize: 18px;

$containerWidth: 55.83rem;

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

// mixixns
@mixin center_betw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin center_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// color-map
    $c_order: rgba(202, 27, 54, 1);
    $c_grey: #F5F5F5;

//layaout
@import "layaout.scss";

//sections
    //header
@import "main.scss";
    //points
@import "points.scss";
    //btn
@import "btn.scss";
    //features
@import "features.scss";
    //feedback
@import "feedback.scss";
    //form
@import "cta.scss";
    //radio
@import "radio.scss";
    //map
@import "map.scss";
    //footer
@import "footer.scss";
    //networks
@import "networks.scss";
    //burger-btn
@import "burger.scss";
